@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.header-bottom_nav a img {
  width: 24px;
}

.header-bottom_nav a {
  text-decoration: none;
  gap: 4px;
  font-size: 14px;
  align-items: center;
  color: gray;
}

.header-bottom_nav a.bold {
  font-weight: 600;
  display: flex;
  font-size: 12.8px;
  color: black;
}
